In [1]:
print('hello world')

hello world

In [2]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [3]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [4]:
b = "Hello, World!"
print(b[2:5])

llo

In [5]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [1]:
a = " Hello, World! "
print(a.strip()) # remove leading and traling spaces

Hello, World!

In [2]:
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

In [4]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)
txt = f"The price is {20 * 59} dollars"
print(txt)

My name is John, I am 36
The price is 1180 dollars

In [5]:
#heck if an object is an integer or not:
x = 200
print(isinstance(x, int))

True

In [8]:
mylist = ["apple", "banana", "cherry"]
list1 = ["abc", 34, True, 40, "male"]
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets list constructor
print(thislist)

['apple', 'banana', 'cherry']

List is a collection which is ordered and changeable. Allows duplicate members.
Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
Dictionary is a collection which is ordered** and changeable. No duplicate members.

In [9]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [10]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [12]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']
['apple', 'orange', 'banana', 'cherry']

In [13]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [14]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [15]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [16]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [17]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)#case senstive
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [2]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)
mylist = thislist #copy refrence so chnages in thislist can be refrelet to  mylist

['apple', 'banana', 'cherry']

In [9]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist[:]#slice operator
print(mylist)
thislist.append('rimsha')
print(thislist)
print(mylist)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'rimsha']
['apple', 'banana', 'cherry']

In [13]:
tuple1 = ("apple", "banana", "cherry")
#tuple1[0] = 'rimsha'# not allowed

In [15]:
#When we create a tuple, we normally assign values to it. This is called "packing" a tuple:
fruits = ("apple", "banana", "cherry")
(green, yellow, red) = fruits #unpacking tuples
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(green, yellow, *red) = fruits# red is list of remaining elements

In [ ]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2
print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [21]:
#Set items can appear in a different order every time you use them, and cannot be referred to by index or key.
#Once a set is created, you cannot change its items, but you can add new items.

thisset = {"apple", "banana", "cherry", "apple"}
thisset.add("orange")
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)
thisset.remove("orange")
thisset.discard("orange")
thisset.pop()
print(thisset)

{'apple', 'mango', 'papaya', 'cherry', 'banana', 'pineapple', 'orange'}
{'mango', 'papaya', 'cherry', 'banana', 'pineapple'}

In [31]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3,"a"}

set3 = set1.union(set2)
print(set3)
set4 = set1 | set2 # allow to join sets only not any other datatypes but using union you can join set with othwer datatypes
print(set4)
print(set.intersection(set2))
print(set1 & set2)
set3 = set1.difference(set2)
print(set3)
set1.difference_update(set2)
print(set1)
set3 = set1.symmetric_difference(set2)
print(set3)

{1, 'b', 2, 3, 'a', 'c'}
{1, 'b', 2, 3, 'a', 'c'}
{1, 2, 3, 'a'}
{'a'}
{'b', 'c'}
{'b', 'c'}
{1, 2, 3, 'c', 'b', 'a'}

In [32]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

{'cherry', 'google', 'microsoft', 'banana'}

In [50]:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
x = thisdict.get("brand")
print(x)
print(thisdict.keys())
thisdict["color"] = "white"
print(thisdict)
if "swift" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")
else:
  print("No, 'model' is not one of the keys in the")
thisdict.update({"year": 2020})#if not exists it will be created
thisdict.pop("model")
print(thisdict)
for x in thisdict:
  print(x)
  print(thisdict[x])
#can loop botth
for x, y in thisdict.items():
  print(x, y)
mydict = thisdict.copy()

Ford
dict_keys(['brand', 'model', 'year'])
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'white'}
No, 'model' is not one of the keys in the
{'brand': 'Ford', 'year': 2020, 'color': 'white'}
brand
Ford
year
2020
color
white
brand Ford
year 2020
color white

In [57]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
print(myfamily['child1']['name'])
for x, obj in myfamily.items():
  print(x)

  for y in obj:
    print(y + ':', obj[y])

Emil
child1
name: Emil
year: 2004
child2
name: Tobias
year: 2007
child3
name: Linus
year: 2011

In [58]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [61]:
def fun(*nargumets):
    for x in nargumets:
        return x
    

print(fun(1,2,3,45))

1

In [ ]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")
def my_function(x, /): #positional argument
  print(x)

my_function(3)

His last name is Refsnes
3

In [66]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [67]:
#Use the __init__() function to assign values to object properties, or other operations that are necessary to do when the object is being created:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("Ramsha", 24)

print(p1.name)
print(p1.age)

Ramsha
24

In [77]:
#The __str__() function controls what should be returned when the class object is represented as a string.
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def __str__(self):
    return f"{self.name}({self.age})"
  def pname(self):
    return self.name
  

p1 = Person("John", 36)


class child1(Person):
  pass


x = child1('rimsha',25)
print(x.pname())

rimsha

In [79]:
class Student(Person):
  def __init__(self, fname, lname):
    Person.__init__(self, fname, lname)
    super().__init__(fname, lname)#also assign like this

#ploymorphism e can have multiple classes with the same method name.
class Car:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Drive!")

class Boat:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Sail!")

class Plane:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Fly!")

car1 = Car("Ford", "Mustang")       #Create a Car class
boat1 = Boat("Ibiza", "Touring 20") #Create a Boat class
plane1 = Plane("Boeing", "747")     #Create a Plane class

for x in (car1, boat1, plane1):
  x.move()

Drive!
Sail!
Fly!

In [80]:
def myfunc():
  global x
  x = 300

myfunc()

print(x)

300

In [81]:
def myfunc1():
  x = "Jane"
  def myfunc2():
    nonlocal x
    x = "hello"
  myfunc2()
  return x

print(myfunc1())

hello

In [ ]:
#modules like libraray
def greeting(name):
  print("Hello, " + name) #save this in mymodule.py
import mymodule

mymodule.greeting("Rismha")